<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value>com.inzynierkanew.endpoints.communication.MessageEndpoint,com.inzynierkanew.endpoints.map.DungeonEndpoint,com.inzynierkanew.endpoints.map.DungeonVisitEndpoint,com.inzynierkanew.endpoints.map.FieldTypeEndpoint,com.inzynierkanew.endpoints.map.LandEndpoint,com.inzynierkanew.endpoints.map.PassageEndpoint,com.inzynierkanew.endpoints.map.TownEndpoint,com.inzynierkanew.endpoints.map.TownVisitEndpoint,com.inzynierkanew.endpoints.players.FactionEndpoint,com.inzynierkanew.endpoints.players.HeroEndpoint,com.inzynierkanew.endpoints.players.ItemEndpoint,com.inzynierkanew.endpoints.players.PlayerEndpoint,com.inzynierkanew.endpoints.players.UnitTypeEndpoint</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.inzynierkanew.init.ApplicationInitializer</listener-class>
	</listener>

</web-app>